<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v0lture.deAngelo.mymu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- android:debuggable="false"! -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchernew"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".credentials_folder.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".credentials_folder.SignUpActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".credentials_folder.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/resetTheme" />
        <activity
            android:name=".home_tabs.NavActivity"
            android:label="@string/title_activity_nav"
            android:parentActivityName=".credentials_folder.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v0lture.deAngelo.mymu.credentials_folder.LoginActivity" />
        </activity>
        <activity
            android:name=".anouncement_folder.AnnounceActivity"
            android:label="Announcements"
            android:parentActivityName=".home_tabs.NavActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v0lture.deAngelo.mymu.home_tabs.NavActivity" />
        </activity>
        <activity
            android:name=".home_tabs.AboutFragment"
            android:label="@string/title_activity_about_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".home_tabs.InfoFragment" />
        <activity
            android:name=".schedule_folder.ScheduleActivity"
            android:label="Schedule"
            android:parentActivityName=".home_tabs.NavActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v0lture.deAngelo.mymu.home_tabs.NavActivity" />
        </activity>
        <activity
            android:name=".tools_fragment.ToolsActivity"
            android:label="Tools"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".tools_fragment.SyllabusFragment" />
        <activity android:name=".tools_fragment.GPAFragment" />
        <activity
            android:name=".bugs_folder.Bugs"
            android:label="Report a Bug"
            android:theme="@style/BugsTheme" />
        <activity
            android:name=".credentials_folder.SignOut"
            android:parentActivityName=".home_tabs.NavActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v0lture.deAngelo.mymu.credentials_folder.LoginActivity" />
        </activity>
        <activity android:name=".anouncement_folder.Card1" />
        <activity android:name=".schedule_folder.Card2"></activity>
    </application>

</manifest>