<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csstudent.monarch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchernew"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ResetPasswordActivity"
            android:label="@string/title_activity_reset_password" />
        <activity
            android:name=".NavActivity"
            android:label="@string/title_activity_nav"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.csstudent.monarch.LoginActivity" />
        </activity>
        <activity android:name=".AnnounceActivity"
            android:label="Announcements"
            android:parentActivityName=".NavActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.csstudent.monarch.NavActivity"/>
        </activity>
        <activity android:name=".ScheduleActivity"
            android:label="Schedule"
            android:parentActivityName=".NavActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.csstudent.monarch.NavActivity"/>
        </activity>
        <activity
            android:name=".AboutFragment"
            android:label="@string/title_activity_about_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".InfoFragment" />
        <activity android:name=".SignoutFragment"></activity>
    </application>

</manifest>